{% extends "layout.html" %}
{% block content %}

<br><br>
<h3>Add Choice</h3>
<a class="btn-sm btn-primary" href="/admin_top">Back to Admin top</a>
<br>
<br>
<div class="row">
    <form action="/add_Choice" method="post">
        <div class="col-md-5"><p>question</p></div>
        <div class="col-md-7">
            <select name="question">
                {% for question in questions %}
                    <option value="{{question['id']}}">{{question['question_text']}}</options>
                {% endfor %}
            </select>
        </div>
        <br>
        <br>
        <div class="col-md-5"><p>question_text</p></div>
        <div class="col-md-7">
            <input type="text" name="choice_text">

            {% for error_message in error_messages %}
                <p class="text-danger">{{error_message}}</p>
            {% endfor %}
            <br>
            <br>
            <input class="btn btn-warning" type="submit" name="submit" value="Add Choice">
        </div>
    </form>
</div>
{% endblock %}